In [17]:
import mysql.connector
import pymysql as ps

In [18]:
mydb = mysql.connector.connect(host='localhost',port=3305,user='root',password='Helium@002',db='food')
mycursor = mydb.cursor()

In [ ]:
from tkinter import *
import tkinter.font as font
class MyWindow:
    def __init__(self, win):
        self.l1 = Label(win, text='CRUD \n Operations', font= ('Courier 12 bold'))
        self.l2 = Label(win, text='Predefined \n SQL Statements', font= ('Courier 12 bold'))
        self.l3 = Label(win, text='Output for Selected Option', font= ('Courier 12 bold'))
        self.t = Text(win, wrap= WORD, font= ('Courier 10 bold'))
        self.b1 = Button(win, text='Create', command=self.create, font= ('Courier 15 bold'), bg="yellow", fg="red")
        self.b2 = Button(win, text='Read', command=self.read, font= ('Courier 15 bold'), bg="yellow", fg="red")
        self.b3 = Button(win, text='Update', command=self.update, font= ('Courier 15 bold'), bg="yellow", fg="red")
        self.b4 = Button(win, text='Delete', command=self.delete, font= ('Courier 15 bold'), bg="yellow", fg="red")
        self.b5 = Button(win, text='Predefined\n SQL\n Statement 1', command=self.statement1, font= ('Courier 15 bold'), bg="yellow", fg="red",width=13,height=3)
        self.b6 = Button(win, text='Predefined\n SQL\n Statement 2', command=self.statement2, font= ('Courier 15 bold'), bg="yellow", fg="red",width=13,height=3)
        self.b7 = Button(win, text='Predefined\n SQL\n Statement 3', command=self.statement3, font= ('Courier 15 bold'), bg="yellow", fg="red",width=13,height=3)
        self.b8 = Button(win, text='Predefined\n SQL\n Statement 4', command=self.statement4, font= ('Courier 15 bold'), bg="yellow", fg="red",width=13,height=3)
        self.l1.place(x=50, y=40)
        self.l2.place(x=200, y=40)
        self.l3.place(x=450, y=60)
        self.b1.place(x=75, y=125)
        self.b2.place(x=75, y=225)
        self.b3.place(x=75, y=325)
        self.b4.place(x=75, y=425)
        self.b5.place(x=200, y=100)
        self.b6.place(x=200, y=200)
        self.b7.place(x=200, y=300)
        self.b8.place(x=200, y=400)
        self.t.place(x=400, y=100, width= 350, height= 400)
    def create(self):
        self.t.delete("1.0","end")
        n = input("Please enter a table name (orders/customer/deliveryexecutive/restuarant/fooditem) to perform create operation:")
        query1="select * from "+n
        mycursor.execute(query1)
        rows=mycursor.fetchall()
        result = "Before inserting new rows in " +n+ " table:\n" + str(rows)
        self.t.insert(END, str(result))
        query = input("Please input a sql query to perform create operation:")
        mycursor.execute(query)
        self.t.insert(END, "\n Row Inserted \n")
        query1="select * from "+n
        mycursor.execute(query1)
        rows=mycursor.fetchall()
        result = "After inserting new row in "+n+" table:\n" + str(rows)
        self.t.insert(END, str(result))
    def read(self):
        self.t.delete("1.0","end")
        n = input("Please enter a table name (orders/customer/deliveryexecutive/restuarant/fooditem) to perform create operation:")
        query1="select * from "+n
        mycursor.execute(query1)
        rows=mycursor.fetchall()
        result = "Records in "+n+" table:\n" + str(rows)
        self.t.insert(END, str(result))
    def update(self):
        self.t.delete("1.0","end")
        n = input("Please enter a table name (orders/customer/deliveryexecutive/restuarant/fooditem) to perform update operation:")
        query1="select * from "+n
        mycursor.execute(query1)
        rows=mycursor.fetchall()
        result = "Before updating row in " +n+ " table:\n" + str(rows)
        self.t.insert(END, str(result))
        query = input("Please input a sql query to perform update operation:")
        mycursor.execute(query)
        self.t.insert(END, "\n Row Updated \n")
        query1="select * from "+n
        mycursor.execute(query1)
        rows=mycursor.fetchall()
        result = "After updating row in "+n+" table:\n" + str(rows)
        self.t.insert(END, str(result))
    def delete(self):
        self.t.delete("1.0","end")
        n = input("Please enter a table name (orders/customer/deliveryexecutive/restuarant/fooditem) to perform delete operation:")
        query1="select * from "+n
        mycursor.execute(query1)
        rows=mycursor.fetchall()
        result = "Before deleting a row in " +n+ " table:\n" + str(rows)
        self.t.insert(END, str(result))
        query = input("Please input a sql query to perform delete operation:")
        mycursor.execute(query)
        self.t.insert(END, "\n Row Deleted \n")
        query1="select * from "+n
        mycursor.execute(query1)
        rows=mycursor.fetchall()
        result = "After deleting a row in "+n+" table:\n" + str(rows)
        self.t.insert(END, str(result))
    def statement1(self):
        self.t.delete("1.0","end")
        query1="select * from customer"
        mycursor.execute(query1)
        rows=mycursor.fetchall()
        result = "Printing rows in Customer table:\n" + str(rows)
        self.t.insert(END, str(result))
    def statement2(self):
        self.t.delete("1.0","end")
        query1="select * from restuarant"
        mycursor.execute(query1)
        rows=mycursor.fetchall()
        result = "Printing rows in Restuarant table:\n" + str(rows)
        self.t.insert(END, str(result))
    def statement3(self):
        self.t.delete("1.0","end")
        query1="select * from deliveryExecutive"
        mycursor.execute(query1)
        rows=mycursor.fetchall()
        result = "Printing rows in DeliveryExecutive table:\n" + str(rows)
        self.t.insert(END, str(result))
    def statement4(self):
        self.t.delete("1.0","end")
        query1="select * from orders"
        mycursor.execute(query1)
        rows=mycursor.fetchall()
        result = "Printing rows in Orders table:\n" + str(rows)
        self.t.insert(END, str(result))
window=Tk()
mywin=MyWindow(window)
window.title('Introduction to Database System')
window.geometry("800x600")
window.configure(bg='grey')
window.mainloop()

Please enter a table name (orders/customer/deliveryexecutive/restuarant/fooditem) to perform create operation:orders
Please input a sql query to perform create operation:INSERT INTO `orders` (`OrderID`, `CustomerID`, `ItemID`, `RestuarantID`, `DeliveryID`, `Date`, `Quantity`, `AmountPaid`) VALUES ('O1010', 'C1010', 'I1002', 'R1006', 'D1002', '2022-10-29', 9, 400);

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\deept\anaconda3\lib\site-packages\mysql\connector\connection_cext.py", line 611, in cmd_query
    self._cmysql.query(
_mysql_connector.MySQLInterfaceError: Lock wait timeout exceeded; try restarting transaction

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\deept\anaconda3\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "C:\Users\deept\AppData\Local\Temp\ipykernel_13968\2662406110.py", line 38, in create
    mycursor.execute(query)
  File "C:\Users\deept\anaconda3\lib\site-packages\mysql\connector\cursor_cext.py", line 330, in execute
    result = self._cnx.cmd_query(
  File "C:\Users\deept\anaconda3\lib\site-packages\mysql\connector\connection_cext.py", line 619, in cmd_query
    raise get_mysql_exception(
mysql.connector.errors.DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [2]:
import pip
pip.main(['install','mysql-connector-python-rf'])

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: mysql-connector-python-rf in d:\anaconda\lib\site-packages (2.2.2)

0

In [3]:
import mysql.connector
import pymysql as ps

ModuleNotFoundError: No module named 'pymysql'

In [4]:
import pip
sudo pip install PyMySQL

SyntaxError: invalid syntax (2256863971.py, line 2)

In [7]:
sudo apt-get install python-pip  

sudo pip install PyMySQL
sudo pip2 install PyMySQL 
sudo pip3 install PyMySQL

SyntaxError: invalid syntax (12125169.py, line 1)